.menu-icon {
	width: 36px;
	height: 36px;
	cursor: pointer;
}

.top, .middle, .bottom {
	position: absolute;
	left: 0;
	width: 36px;
	height: 2px;
	background: #fff;
}

.top{
	top: 4px;
}
.middle{
	top: 17px;
}
.bottom{
	top: 30px;
}

.show .top{
	top: 4px;
	transform: rotate(0deg);
	animation: topOpen 480ms cubic-bezier(0.2,0,0.2,1);
}
.show .middle{
	top: 17px;
	transform: rotate(0deg);
	animation: middleOepn 480ms cubic-bezier(0.2,0,0.2,1);
}
.show .bottom{
	top: 30px;
	transform: rotate(0deg);
	animation: bottomOpen 480ms cubic-bezier(0.2,0,0.2,1);
}

.hidden .top{
	top: 17px;
	transform: rotate(45deg);
	animation: topClose 480ms cubic-bezier(0.2,0,0.2,1);
}
.hidden .middle{
	top: 17px;
	transform: rotate(45deg);
	animation: middleClose 480ms cubic-bezier(0.2,0,0.2,1);
}
.hidden .bottom{
	top: 17px;
	transform: rotate(135deg);
	animation: bottomClose 480ms cubic-bezier(0.2,0,0.2,1);
}

@keyframes topOpen{
	0% { top: 17px; transform: rotate(45deg); }
	62% { top: 17px; transform: rotate(180deg);  }
	100% { top: 4px; transform: rotate(180deg); }
}

@keyframes middleOpen{
	0% { transform: rotate(45deg); }
	62% { transform: rotate(180deg); }
	100% { transform: rotate(180deg); }
}

@keyframes bottomOpen{
	0% { top: 17px; transform: rotate(135deg); }
	62% { top: 17px; transform: rotate(180deg); }
	100% { top: 30px; transform: rotate(180deg); }
}


@keyframes topClose{
	0% { top: 4px; transform: rotate(0deg); }
	38% { top: 17px; transform: rotate(0deg);  }
	100% { top: 17px; transform: rotate(45deg); }
}

@keyframes middleClose{
	0% { transform: rotate(0deg); }
	38% { transform: rotate(0deg); }
	100% { transform: rotate(45deg); }
}

@keyframes bottomClose{
	0% { top: 30px; transform: rotate(0deg); }
	38% { top: 17px; transform: rotate(0deg); }
	100% { top: 17px; transform: rotate(135deg); }
}


